.container {
    width: 1140px;
    /*background-color: hotpink;*/
    margin: auto;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    padding-top: 72px;
}

.menu {
    height: 72px;
    width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    position: fixed;
    top: 0;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
}

.single-movie-tile {
    width: 182px;
    height: 321px;
    border-radius: 5px;
    margin: 23px;
    background-color: azure;
    cursor: pointer;
}

.single-movie-tile .image {
    height: 268px;
    width: 182px;
    background-image: url("../../assets/movieCovers/deadpool.jpg");
    background-size: contain;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.single-movie-tile p {
    margin: 5px;
}

.single-movie-list {
    width: 100%;
    height: 72px;
    border-radius: 5px;
    margin: 23px;
    background-color: azure;
    display: flex;
    cursor: pointer;
}

.single-movie-list .image-list {
    height: 72px;
    width: 49px;
    background-image: url("../../assets/movieCovers/deadpool.jpg");
    background-size: contain;
    border-radius: 5px;
}

.single-movie-list p {
    margin: 5px;
}

.single-movie-list p:first-child {
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
